.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--white);
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;

  @media (max-width: 37.5em) {
    width: 80%;
  }

  margin: 16px;
  float: left;
}

.note h2 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note .buttons {
  display: flex;
  justify-content: end;
  /* background-color: orange; */
}

/* .note .buttons button {
  position: relative;
  float: right;
  cursor: pointer;
  outline: none;
} */
